body {
  background: #c80000;
}
.tester {
  width: 100px;
  height: 100px;
  margin: 20px;
  padding: 20px;
  float: left;
}
#rgba { background-color: rgba(0, 0, 0, 0.2); }
#rgba-fallback, #rgba-iefilter {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.2);
}
#rgba-data, #rgba-full {
  background: #000000;
  background: -postprocessor-rgba-bg(rgba(0, 0, 0, 0.2));
  background-repeat: repeat;
  background: rgba(0, 0, 0, 0.2);
}
#borders { border: 15px solid rgba(0, 0, 0, 0.2); }
#borders-fallback {
  border: 15px solid #000000;
  border: 15px solid rgba(0, 0, 0, 0.2);
}
#text, #text-fallback {
	color: blue;
}
.tester#text {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
}
.tester#text-fallback {
  font-weight: bold;
  color: #000000;
  color: rgba(0, 0, 0, 0.2);
}
